In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
def simple_interest(p,r,t):
  print('The principal is:',p)
  print('The timeperiod is:',t)
  print('The rate of interest:',r)
  si=(p*t*r)/100
  print('The simple interest:',si)
  return si
simple_interest(8,6,8)

The principal is: 8
The timeperiod is: 8
The rate of interest: 6
The simple interest: 3.84

3.84

In [ ]:
#1
set1=["aman", "222", 777, 400.4]
t=tuple(set1)
print(t)
print(type(t))

('aman', '222', 777, 400.4)
<class 'tuple'>

In [ ]:
#2
dict1={'Rollno':'CB.EN.U4CSE20217','FirstName':'Dheepthi','LastName':'Priyangha','DateOfBirth':'5-11-2002'}
for i in dict1:
  print(i,'-',dict1[i])

Rollno - CB.EN.U4CSE20217
FirstName - Dheepthi
LastName - Priyangha
DateOfBirth - 5-11-2002

In [ ]:
#3
import numpy as np
from numpy import random
arr=random.rand(3,5)
print(arr)

[[0.6133479  0.48985646 0.05655685 0.62929134 0.43080816]
 [0.92312726 0.58331939 0.22680224 0.71466083 0.08923426]
 [0.12749557 0.35660026 0.46644534 0.23716283 0.65695394]]

In [ ]:
#4
import numpy as np
from numpy import random
n=random.random()
print(n)
a=np.abs(-1234)
print(a)

0.6906243188822148
1234

In [ ]:
#5
r=random.randint(20,90)
print(r)

76

In [ ]:
#6
l=[11,12,13,14,15]
a=random.choice(l)
print(a)
random.shuffle(l)
print(l)

11
[13, 15, 14, 11, 12]

In [ ]:
#7
f = open("n.txt", 'w')
f.write("The King is Dead, Long Live The King")
f.close()
f = open("n.txt", "r")
print(f.read())

The King is Dead, Long Live The King

In [ ]:
#8
n=int(input())
if(n>0):
  print("The number is postive")
elif(n<0):
  print("The number is negative")
else:
  print("NULL")
for i in range(20):
  if(i%2==0):
    continue
  print(i)
for var in "DheepthiPriyangha":
    if var == "P":
        break
    print(var)

-9
The number is negative
1
3
5
7
9
11
13
15
17
19
D
h
e
e
p
t
h
i

In [ ]:
#9
str="The King is Dead, Long Live The King"
print(str)
print(str[0])
print(str[3:6])
print(str[3:])
print(str.split())

The King is Dead, Long Live The King
T
 Ki
 King is Dead, Long Live The King
['The', 'King', 'is', 'Dead,', 'Long', 'Live', 'The', 'King']

In [ ]:
#10
arr=[1.0,4.0,5.0,8.0]
print(arr[:2])

[1.0, 4.0]

In [ ]:
#11
arr=np.array([[1,2,3],[4,5,6]])
print(arr)

[[1 2 3]
 [4 5 6]]

In [ ]:
#12
arr=np.array([[1,2,3],[4,5,6]])
print(arr[1])
#print(arr([]))
print(len(arr))

[4 5 6]
2

In [ ]:
#13
arr1=np.array([1,2,3,4,5,6,7,8,9,10])
a=arr1.reshape(5,2)
print(a)
print(arr1.transpose())

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]]
[ 1  2  3  4  5  6  7  8  9 10]

In [ ]:
#14

In [ ]:
#15
arr=[1,2,3]
for i in range(len(arr)):
  arr[i]=9
print(arr)

[9, 9, 9]

In [ ]:
#16
arr=np.array([2,4,5])
sum=0
for i in arr:
  sum+=i
print("The sum of elements in the array is :",sum)

The sum of elements in the array is : 11

In [ ]:
#17
arr=[77,74,75]
p=1
for i in range(len(arr)):
  p=p*arr[i]
print('The product of the elements in the array is :',p)

The product of the elements in the array is : 427350

In [ ]:
#18
a1=[2,1,9,1,2,22,1,1,4,55,6,2,56]
for i in a1:
  sum=+i
print('mean=',sum/len(a1))
print('Max=',max(a1))
print('Min=',min(a1))

mean= 4.3076923076923075
Max= 56
Min= 1

In [ ]:
#19
arr=[1, 1, 4, 5, 5, 5, 7, 3, 2] 
l=[]
for i in arr:
  if(arr.count(i)==1):
    l.append(i)
l.sort()
print(l)

[2, 3, 4, 7]

In [ ]:
#20
a=[1,2,3]
b=[0,1,1]
l=[]
for i in range(len(a)):
  l.append(a[i]*b[i])
print(l)

[0, 2, 3]

In [ ]:
#21
import numpy as np
from numpy.linalg import eig
a = np.array([[2, -12], 
              [1, -5]])
w,v=eig(a)
print('E-value:', w)
print('E-vector', v)

E-value: [-1. -2.]
E-vector [[0.9701425  0.9486833 ]
 [0.24253563 0.31622777]]

In [ ]:
#22
a=np.array([[11, 22, 11, 31], [25, 33, 31, 28]])

In [ ]:
def myfunc():
  return None
print("Using __doc__:") 
print(myfunc.__doc__)
print("Using help:") 
help(myfunc)

Using __doc__:
None
Using help:
Help on function myfunc in module __main__:

myfunc()

In [ ]:
import pandas as pd
df = pd.read_csv("/content/world_population.csv")
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
import pandas as pd
pd.read_csv('/content/world_population.csv')

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [ ]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/flaviovdf/evcomp2018/master/data/nba_salaries.csv')
print(df.to_string())

                       PLAYER POSITION                    TEAM     SALARY
0                Paul Millsap       PF           Atlanta Hawks  18.671659
1                  Al Horford        C           Atlanta Hawks  12.000000
2              Tiago Splitter        C           Atlanta Hawks   9.756250
3                 Jeff Teague       PG           Atlanta Hawks   8.000000
4                 Kyle Korver       SG           Atlanta Hawks   5.746479
5             Thabo Sefolosha       SF           Atlanta Hawks   4.000000
6                  Mike Scott       PF           Atlanta Hawks   3.333333
7               Kent Bazemore       SF           Atlanta Hawks   2.000000
8             Dennis Schroder       PG           Atlanta Hawks   1.763400
9            Tim Hardaway Jr.       SG           Atlanta Hawks   1.304520
10             Walter Tavares        C           Atlanta Hawks   1.000000
11           Jason Richardson       SG           Atlanta Hawks   0.947276
12            Lamar Patterson       SG           Atlanta Hawks   0.525093
13            Terran Petteway       SG           Atlanta Hawks   0.525093
14              Avery Bradley       PG          Boston Celtics   7.730337
15              Isaiah Thomas       PG          Boston Celtics   6.912869
16                Jae Crowder       SF          Boston Celtics   6.796117
17              Jonas Jerebko       PF          Boston Celtics   5.000000
18               Marcus Smart       PG          Boston Celtics   3.431040
19                Evan Turner       SG          Boston Celtics   3.425510
20               Tyler Zeller        C          Boston Celtics   2.616975
21            Jared Sullinger        C          Boston Celtics   2.569260
22               Kelly Olynyk        C          Boston Celtics   2.165160
23                Perry Jones       SF          Boston Celtics   2.038206
24               Terry Rozier       PG          Boston Celtics   1.824360
25                James Young       SG          Boston Celtics   1.749840
26               Zoran Dragic       SG          Boston Celtics   1.706225
27              Jordan Mickey       PF          Boston Celtics   1.170960
28                R.J. Hunter       SG          Boston Celtics   1.148640
29                Joe Johnson       SF           Brooklyn Nets  24.894863
30             Thaddeus Young       PF           Brooklyn Nets  11.235955
31               Jarrett Jack       PG           Brooklyn Nets   6.300000
32           Bojan Bogdanovic       SG           Brooklyn Nets   3.425510
33             Sergey Karasev       SG           Brooklyn Nets   1.599840
34            Wayne Ellington       SG           Brooklyn Nets   1.500000
35               Shane Larkin       PG           Brooklyn Nets   1.500000
36            Andrea Bargnani        C           Brooklyn Nets   1.362897
37    Rondae Hollis-Jefferson       SG           Brooklyn Nets   1.335480
38                 Earl Clark       SF           Brooklyn Nets   1.185784
39           Chris McCullough       PF           Brooklyn Nets   1.140240
40            Thomas Robinson       PF           Brooklyn Nets   0.981348
41               Markel Brown       SG           Brooklyn Nets   0.845059
42               Al Jefferson        C       Charlotte Hornets  13.500000
43              Nicolas Batum       SG       Charlotte Hornets  13.125306
44               Kemba Walker       PG       Charlotte Hornets  12.000000
45            Marvin Williams       PF       Charlotte Hornets   7.000000
46     Michael Kidd-Gilchrist       SF       Charlotte Hornets   6.331404
47              Spencer Hawes       PF       Charlotte Hornets   6.110034
48               Courtney Lee       SG       Charlotte Hornets   5.675000
49                Cody Zeller        C       Charlotte Hornets   4.204200
50                Jeremy Lamb       SG       Charlotte Hornets   3.034356
51              Brian Roberts       PG       Charlotte Hornets   2.854940
52         Frank Kaminsky III        C       Charlotte Hornets   2.612520
53                 Jeremy Lin       PG       Charlotte Hornets   2.139000
54              P.J. Hairston       SF       Charlotte Hornets   1.201440
55             Damien Wilkins       SG       Charlotte Hornets   0.947276
56            Jorge Gutierrez       PG       Charlotte Hornets   0.947276
57           Tyler Hansbrough       PF       Charlotte Hornets   0.947276
58               Troy Daniels       SG       Charlotte Hornets   0.947276
59             Aaron Harrison       SG       Charlotte Hornets   0.525093
60               Derrick Rose       PG           Chicago Bulls  20.093064
61               Jimmy Butler       SG           Chicago Bulls  16.407500
62                Joakim Noah        C           Chicago Bulls  13.400000
63                  Pau Gasol        C           Chicago Bulls   7.448760
64             Nikola Mirotic       PF           Chicago Bulls   5.543725
65              Mike Dunleavy       SG           Chicago Bulls   4.500000
66               Kirk Hinrich       SG           Chicago Bulls   2.854940
67             Doug McDermott       SF           Chicago Bulls   2.380440
68               Aaron Brooks       PG           Chicago Bulls   2.250000
69                 Tony Snell       SF           Chicago Bulls   1.535880
70               Bobby Portis       PF           Chicago Bulls   1.391160
71              E'Twaun Moore       SG           Chicago Bulls   1.015421
72               LeBron James       SF     Cleveland Cavaliers  22.970500
73                 Kevin Love       PF     Cleveland Cavaliers  19.689000
74               Kyrie Irving       PG     Cleveland Cavaliers  16.407501
75           Tristan Thompson        C     Cleveland Cavaliers  14.260870
76            Brendan Haywood        C     Cleveland Cavaliers  10.522500
77              Iman Shumpert       SG     Cleveland Cavaliers   8.988765
78             Timofey Mozgov        C     Cleveland Cavaliers   4.950000
79                Mo Williams       PG     Cleveland Cavaliers   2.100000
80                 Sasha Kaun        C     Cleveland Cavaliers   1.276000
81        Matthew Dellavedova       PG     Cleveland Cavaliers   1.147276
82                  David Lee       PF        Dallas Mavericks  15.493680
83           Chandler Parsons       SF        Dallas Mavericks  15.361500
84              Dirk Nowitzki       PF        Dallas Mavericks   8.333334
85             Deron Williams       PG        Dallas Mavericks   5.378974
86              Zaza Pachulia        C        Dallas Mavericks   5.200000
87                 J.J. Barea       PG        Dallas Mavericks   4.290000
88               Devin Harris       PG        Dallas Mavericks   4.053446
89             Raymond Felton       PG        Dallas Mavericks   3.950313
90            Justin Anderson       SG        Dallas Mavericks   1.449000
91               JaVale McGee        C        Dallas Mavericks   1.270964
92               John Jenkins       SG        Dallas Mavericks   0.981348
93           Danilo Gallinari       SF          Denver Nuggets  14.000000
94             Kenneth Faried       PF          Denver Nuggets  11.235955
95            Wilson Chandler       SF          Denver Nuggets  10.449438
96                 JJ Hickson        C          Denver Nuggets   5.613500
97              Jameer Nelson       PG          Denver Nuggets   4.345000
98                Will Barton       SF          Denver Nuggets   3.533333
99            Emmanuel Mudiay       PG          Denver Nuggets   3.102240
100            Darrell Arthur       PF          Denver Nuggets   2.814000
101              Jusuf Nurkic        C          Denver Nuggets   1.842000
102         Joffrey Lauvergne        C          Denver Nuggets   1.709719
103               Gary Harris       SG          Denver Nuggets   1.584480
104              Nikola Jokic        C          Denver Nuggets   1.300000
105       Kostas Papanikolaou       SF          Denver Nuggets   0.800321
106           Sean Kilpatrick       SG          Denver Nuggets   0.099418
107            Reggie Jackson       PG         Detroit Pistons  13.913044
108               Aron Baynes        C         Detroit Pistons   6.500000
109               Jodie Meeks       SG         Detroit Pistons   6.270000
110            Andre Drummond        C         Detroit Pistons   3.272091
111  Kentavious Caldwell-Pope       SG         Detroit Pistons   2.891760
112           Stanley Johnson       SF         Detroit Pistons   2.841960
113              Joel Anthony        C         Detroit Pistons   2.500000
114             Danny Granger       SF         Detroit Pistons   2.170465
115            Reggie Bullock       SF         Detroit Pistons   1.252440
116           Darrun Hilliard       SF         Detroit Pistons   0.600000
117             Klay Thompson       SG   Golden State Warriors  15.501000
118            Draymond Green       PF   Golden State Warriors  14.260870
119              Andrew Bogut        C   Golden State Warriors  13.800000
120            Andre Iguodala       SF   Golden State Warriors  11.710456
121             Stephen Curry       PG   Golden State Warriors  11.370786
122            Jason Thompson       PF   Golden State Warriors   7.008475
123          Shaun Livingston       PG   Golden State Warriors   5.543725
124           Harrison Barnes       SF   Golden State Warriors   3.873398
125         Marreese Speights        C   Golden State Warriors   3.815000
126           Leandro Barbosa       SG   Golden State Warriors   2.500000
127              Festus Ezeli        C   Golden State Warriors   2.008748
128              Brandon Rush       SF   Golden State Warriors   1.270964
129              Kevon Looney       SF   Golden State Warriors   1.131960
130          Anderson Varejao       PF   Golden State Warriors   0.289755
131             Dwight Howard        C         Houston Rockets  22.359364
132              James Harden       SG         Houston Rockets  15.756438
133                 Ty Lawson       PG         Houston Rockets  12.404495
134              Corey Brewer       SG         Houston Rockets   8.229375
135              Trevor Ariza       SF         Houston Rockets   8.193030
136          Patrick Beverley       PG         Houston Rockets   6.486486
137            K.J. McDaniels       SG         Houston Rockets   3.189794
138            Terrence Jones       PF         Houston Rockets   2.489530
139        Donatas Motiejunas       PF         Houston Rockets   2.288205
140                Sam Dekker       SF         Houston Rockets   1.646400
141              Clint Capela       PF         Houston Rockets   1.242720
142          Montrezl Harrell       PF         Houston Rockets   1.000000
143               Paul George       SF          Indiana Pacers  17.120106
144               Monta Ellis       SG          Indiana Pacers  10.300000
145            Rodney Stuckey       PG          Indiana Pacers   7.000000
146            Chase Budinger       SF          Indiana Pacers   5.000000
147                C.J. Miles       SF          Indiana Pacers   4.394225
148               Lavoy Allen       PF          Indiana Pacers   4.050000
149               Jordan Hill        C          Indiana Pacers   4.000000
150               Ian Mahinmi        C          Indiana Pacers   4.000000
151              Myles Turner       PF          Indiana Pacers   2.357760
152              Solomon Hill       SF          Indiana Pacers   1.358880
153        Glenn Robinson III       SG          Indiana Pacers   1.100000
154          Rakeem Christmas       PF          Indiana Pacers   1.007026
155                 Joe Young       PG          Indiana Pacers   1.007026
156                Chris Paul       PG    Los Angeles Clippers  21.468695
157             Blake Griffin       PF    Los Angeles Clippers  18.907726
158               J.J. Redick       SG    Los Angeles Clippers   7.085000
159            Jamal Crawford       SG    Los Angeles Clippers   5.675000
160               Paul Pierce       SF    Los Angeles Clippers   3.376000
161             Austin Rivers       PG    Los Angeles Clippers   3.110796
162               C.J. Wilcox       SG    Los Angeles Clippers   1.159680
163              Cole Aldrich        C    Los Angeles Clippers   1.100602
164            Wesley Johnson       SF    Los Angeles Clippers   1.100602
165           Jordan Hamilton       SG    Los Angeles Clippers   1.015421
166             Lester Hudson       SG    Los Angeles Clippers   1.015421
167            Pablo Prigioni       PG    Los Angeles Clippers   0.947726
168                Jeff Ayres       PF    Los Angeles Clippers   0.111444
169               Kobe Bryant       SF      Los Angeles Lakers  25.000000
170               Roy Hibbert        C      Los Angeles Lakers  15.592217
171            Louis Williams       SG      Los Angeles Lakers   7.000000
172                Nick Young       SF      Los Angeles Lakers   5.219169
173          D'Angelo Russell       PG      Los Angeles Lakers   5.103120
174             Julius Randle       PF      Los Angeles Lakers   3.132240
175              Brandon Bass       PF      Los Angeles Lakers   3.000000
176                Ryan Kelly       PF      Los Angeles Lakers   1.724250
177           Larry Nance Jr.       PF      Los Angeles Lakers   1.155600
178              Robert Sacre        C      Los Angeles Lakers   0.981348
179             Anthony Brown       SF      Los Angeles Lakers   0.700000
180                Marc Gasol        C       Memphis Grizzlies  19.688000
181             Zach Randolph       PF       Memphis Grizzlies   9.638555
182               Mike Conley       PG       Memphis Grizzlies   9.588426
183                Jeff Green       SF       Memphis Grizzlies   9.450000
184          Lance Stephenson       SF       Memphis Grizzlies   9.000000
185            Brandan Wright       PF       Memphis Grizzlies   5.464000
186                Tony Allen       SG       Memphis Grizzlies   5.158539
187            Chris Andersen       PF       Memphis Grizzlies   5.000000
188            Mario Chalmers       PG       Memphis Grizzlies   4.300000
189              Vince Carter       SG       Memphis Grizzlies   4.088019
190               Matt Barnes       SF       Memphis Grizzlies   3.542500
191                Beno Udrih       PG       Memphis Grizzlies   2.170465
192              Jordan Adams       SG       Memphis Grizzlies   1.404600
193             Jarell Martin       PF       Memphis Grizzlies   1.230840
194            JaMychal Green       PF       Memphis Grizzlies   0.845059
195                Russ Smith       PG       Memphis Grizzlies   0.845059
196               James Ennis       SF       Memphis Grizzlies   0.845059
197            Jarnell Stokes       PF       Memphis Grizzlies   0.845059
198             Jarrid Famous       PF       Memphis Grizzlies   0.525093
199              Ryan Hollins        C       Memphis Grizzlies   0.111444
200           Elliot Williams       SG       Memphis Grizzlies   0.055722
201                Chris Bosh       PF              Miami Heat  22.192730
202               Dwyane Wade       SG              Miami Heat  20.000000
203              Goran Dragic       PG              Miami Heat  14.783000
204                 Luol Deng       SF              Miami Heat  10.151612
205            Josh McRoberts       PF              Miami Heat   5.543725
206             Udonis Haslem       PF              Miami Heat   2.854940
207           Justise Winslow       SF              Miami Heat   2.481720
208              Henry Walker       SF              Miami Heat   1.100602
209             Tyler Johnson       SG              Miami Heat   0.845059
210          Greg Whittington       SF              Miami Heat   0.525093
211           Josh Richardson       SG              Miami Heat   0.525093
212             Corey Hawkins       PG              Miami Heat   0.525093
213           Khris Middleton       SG         Milwaukee Bucks  14.700000
214                 O.J. Mayo       SG         Milwaukee Bucks   8.000000
215           Greivis Vasquez       PG         Milwaukee Bucks   6.600000
216             Jabari Parker       PF         Milwaukee Bucks   5.152440
217            Jerryd Bayless       PG         Milwaukee Bucks   3.000000
218               John Henson       PF         Milwaukee Bucks   2.943221
219   Michael Carter-Williams       PG         Milwaukee Bucks   2.399040
220             Miles Plumlee        C         Milwaukee Bucks   2.109294
221     Giannis Antetokounmpo       SF         Milwaukee Bucks   1.953960
222             Rashad Vaughn       SG         Milwaukee Bucks   1.733040
223               Tyler Ennis       PG         Milwaukee Bucks   1.662360
224            Chris Copeland       SF         Milwaukee Bucks   1.150000
225             Damien Inglis       SF         Milwaukee Bucks   0.855000
226               Ricky Rubio       PG  Minnesota Timberwolves  12.700000
227            Nikola Pekovic        C  Minnesota Timberwolves  12.100000
228             Kevin Garnett       PF  Minnesota Timberwolves   8.500000
229              Kevin Martin       SG  Minnesota Timberwolves   7.085000
230            Andrew Wiggins       SG  Minnesota Timberwolves   5.758680
231        Karl-Anthony Towns        C  Minnesota Timberwolves   5.703600
232           Nemanja Bjelica       PF  Minnesota Timberwolves   3.950001
233               Zach LaVine       PG  Minnesota Timberwolves   2.148360
234          Shabazz Muhammad       SF  Minnesota Timberwolves   2.056920
235             Adreian Payne       PF  Minnesota Timberwolves   1.938840
236              Gorgui Dieng        C  Minnesota Timberwolves   1.474440
237                Tyus Jones       PG  Minnesota Timberwolves   1.282080
238              Damjan Rudez       SF  Minnesota Timberwolves   1.149500
239               Eric Gordon       SG    New Orleans Pelicans  15.514031
240              Tyreke Evans       SG    New Orleans Pelicans  10.734586
241              Jrue Holiday       PG    New Orleans Pelicans  10.595507
242                 Omer Asik        C    New Orleans Pelicans   9.213483
243             Ryan Anderson       PF    New Orleans Pelicans   8.500000
244             Anthony Davis       PF    New Orleans Pelicans   7.070730
245             Alexis Ajinca        C    New Orleans Pelicans   4.389607
246          Quincy Pondexter       SF    New Orleans Pelicans   3.382023
247               Norris Cole       PG    New Orleans Pelicans   3.036927
248          Dante Cunningham       PF    New Orleans Pelicans   2.850000
249                Alonzo Gee       SF    New Orleans Pelicans   1.320000
250             Toney Douglas       PG    New Orleans Pelicans   1.164858
251              Luke Babbitt       SF    New Orleans Pelicans   1.100602
252          Kendrick Perkins        C    New Orleans Pelicans   0.947276
253               Bo McCalebb       PG    New Orleans Pelicans   0.525093
254        Bryce Dejean-Jones       SG    New Orleans Pelicans   0.169883
255           Carmelo Anthony       SF         New York Knicks  22.875000
256               Robin Lopez        C         New York Knicks  12.650000
257             Arron Afflalo       SG         New York Knicks   8.000000
258             Jose Calderon       PG         New York Knicks   7.402812
259        Kristaps Porzingis       PF         New York Knicks   4.131720
260          Derrick Williams       PF         New York Knicks   4.000000
261              Kyle O'Quinn       PF         New York Knicks   3.750000
262              Lance Thomas       SF         New York Knicks   1.636842
263              Lou Amundson       PF         New York Knicks   1.635476
264              Jerian Grant       PG         New York Knicks   1.572360
265           Jimmer Fredette       PG         New York Knicks   0.874837
266         Langston Galloway       SG         New York Knicks   0.845059
267    Thanasis Antetokounmpo       SF         New York Knicks   0.030888
268              Kevin Durant       SF   Oklahoma City Thunder  20.158622

In [ ]:
df1=pd.read_csv('/content/world_population.csv')